@import url('/local.css');

.page > .pageheader > .header .title {
    display: block;
    width: 100%;
    max-width: 800px;
    margin: auto;
    text-align: center;
    font-family: "Vollkorn", "Times New Roman", Times, serif;
    font-feature-settings: 'lnum', 'pnum';
}

.gdprwhereas ol {
    margin-left: 0;
    padding-left: 0;
}

#content ol {
    padding-left: 1em;
    margin-left: 1em;
}

.gdprwhereas li ol, #content li ol {
    margin-left: 1.25em;
}

.gdprwhereas li, #content li {
    padding-left: 0em;
}

@media (min-width:910px){
.gdprwhereas ol, #content ol {
    padding-left: 0;
    margin-left: -1.25em;
}

.gdprwhereas li, #content li {
    padding-left: 1.25em;
}
}
#content ol[type="a"] {
    counter-reset: list-alpha;
}
#content ol[type="a"]  li, #content ul li {
    list-style: none;
}
#content ol[type="a"]  li:before, #content ul li:before {
    display: inline-block;
    float: left;
}
#content ol[type="a"]  li:before {
    content: "("counter(list-alpha,lower-alpha)")";
    counter-increment: list-alpha;
    margin-right: 1em;
}
#content ul li:before {
    content: "—  ";
    margin-right: 0.2em;
}
@media (max-width:909px){
    #content ol li ol[type="a"] li:before {
        margin-left: -2.2em;
    }
}
@media (min-width:910px){
    #content ol[type="a"]  li:before {
        margin-left: -2.2em;
    }
    #content ul li:before {
        margin-left: -1.75em;
    }
}
